* text=auto eol=lf
/_/.config/fcitx5/** linguist-generated=true
/_/.config/niri/dms/** linguist-generated=true
/scripts/data/gnome-shell.ini linguist-generated=true
/scripts/data/schema.docs.graphql linguist-vendored=true
