[init]
	defaultBranch = main
[credential "https://dev.azure.com"]
	usehttppath = true
[url "https://github.com"]
	insteadOf = gh:
	insteadOf = github:
[url "https://gitlab.com"]
	insteadOf = gitlab:
[user]
	name = xingqingxyz
	email = cm.email@qq.com
[pull]
	rebase = false
[core]
	editor = \"C:\\Users\\cmema\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
	symlinks = true
	pager = delta
[mergetool]
	prompt = true
[credential]
	helper =
	helper = manager
[gui]
	recentrepo = C:/Users/cmema/p/wish
[rerere]
	enabled = true
[safe]
	directory = *
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
[diff "gpg"]
	textconv = gpg -dq --batch --no-tty
[filter "gpg"]
	smudge = gpg -dq --batch --no-tty
	clean = gpg -eq --batch --no-tty -r cm.email@qq.com
